@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

/*
    colours: http://www.colourlovers.com/palette/819353/Humbly_Hip
*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    color: #333;
    background-color: #fefefe;
}

/*------------------------------------------------------------------
 Header
 ------------------------------------------------------------------*/

.header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Roboto Condensed', sans-serif;
    height: 75px;
    background-color: #293C5E;
}

.header__title
{
    color: #FFD749;
    margin: 0;
    font-size: 70px;
    text-shadow: #333 0px 0px 1px,   #333 0px 0px 1px,   #333 0px 0px 1px,
             #333 0px 0px 1px,   #333 0px 0px 1px,   #333 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

.header__navigation
{
    position: absolute;
    top: 20px;
    left: 35%;
}

.header__navigation ul
{
    margin: 0;
}

.header__navigation ul li
{
    display: inline-block;
}

.header__navigation a
{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 5px;
    padding-top: 2px;
    color: #fefefe;
    text-align: center;

    width: 150px;
}

.header__navigation li.active a
{
    color: #FFD749;
}

.header__navigation span
{
    position: absolute;
	bottom: -10px;
	display: block;
	width: 154px;
	height: 2px;
	background: #FFD749;
}

.header__navigation ul li, .header__navigation span {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: relative;
}

ul li.active:nth-child(1) ~ span,
ul li:not(.active):nth-child(1):hover ~ span {
	left: 0%;
}
 
ul li.active:nth-child(2) ~ span,
ul li:not(.active):nth-child(2):hover ~ span {
	left: 20%;
}
 
ul li.active:nth-child(3) ~ span,
ul li:not(.active):nth-child(3):hover ~ span {
	left: 40%;
}
 
ul li.active:nth-child(4) ~ span,
ul li:not(.active):nth-child(4):hover ~ span {
	left: 60%;
}

ul li.active:nth-child(5) ~ span,
ul li:not(.active):nth-child(5):hover ~ span {
	left: 80%;
}


/*------------------------------------------------------------------
 Slides
 ------------------------------------------------------------------*/

.slide
{
    height: 100%;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
}

.slide h2
{
    margin: 0;
    padding-top: 80px;
    font-size: 80px;
}

.slide .computed-figure
{
    color: #3DA5D9;
}

.slide:nth-child(odd)
{
    color: #fefefe;
    background-color: #68ADA6;
}

.slide:nth-child(odd) .computed-figure
{
    color: #FFD749;
}

.slide__half
{
    width: 50%;
}



/*------------------------------------------------------------------
 Inputs
 ------------------------------------------------------------------*/

.inline-input
{
    display: inline-block;
    line-height: 1;
    font-size: 1em;
    border: 0;
    outline: 0;
    color: #3DA5D9;
    border-bottom: 1px solid #999;
    text-align: center;
    background-color: inherit;
}

.inline-input--small
{
    width: 2em;
}

.inline-input--medium
{
    width: 5em;
}

/*------------------------------------------------------------------
 Tables
 ------------------------------------------------------------------*/
.table
{
    border-collapse: collapse;
}

.table__header
{
    border-bottom: 3px solid;
}

.table__header th
{
    padding: 8px;
}

.table__footer
{
    border-top: 3px solid;
    border-bottom: 3px solid;
}

.table tr
{
    border-bottom: 1px solid;
}

.table tr:last-child
{
    border-bottom: 0;
}

.table td.right-align
{
    text-align: right;
}

/*------------------------------------------------------------------
 Tooltips
 ------------------------------------------------------------------*/
[data-tooltip]
{
    display: inline;
    position: relative;
    cursor: pointer;
}

[data-tooltip]:hover:after
{
    background: #333;
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(data-tooltip);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    margin-bottom: 12px;
    font-size: 16px;
}

[data-tooltip]:hover:before
{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
    margin-bottom: 12px;
}

/*------------------------------------------------------------------
 Charts
 ------------------------------------------------------------------*/
.chart
{
    height: 400px;
    width: 50%;
}