@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

html
{
    height: 100%;
}

body
{
    margin: 0;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Roboto Condensed', sans-serif;
    height: 10vh;
    background-color: #4C99D4;
}

.header__navigation
{
    position: absolute;
    top: 20px;
    left: 35%;
}

.header__navigation ul li
{
    display: inline-block;
}

.header__navigation a
{
    text-decoration: none;
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #333;
    background-color: #F2E9C2;
    border-radius: 25px;
}

.slide
{
    height: 90vh;
    padding: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.slide:nth-child(odd)
{
    color: #fff;
    background-color: #70AB4B;
}

.slide h2
{
    font-size: 80px;
}